*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.button-checkbox{
  background-color: #114E60;
  color: white;
}

.button-checkbox .checkbox:hover {
  color: white;
}